html {
  background: url('images/underthesea.jpg');
  background-color: white:
  background-repeat: no-repeat;
  background-size: cover;

}

body {
  margin: 20px 0;
  width: 100%;
  height: 100%;

}

.music {
  font-size: 30px;
  background-color: yellow;
  font-family: 'Pacifico', cursive;

}
main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3%;
}

.score {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: #c9e9ef;
  border-radius: 10px;
  padding: 3%;
  opacity: 0.8;
  font-family: 'Pacifico', cursive;


}

.score span button {
  background-color: lightblue;
  font-size: 30px;
  color: white;

}
span {
  color: blue;
  font-size: 30px;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-right: 300px;
}
.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
h1 {
  font-family: 'Pacifico', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  color: black;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
}
.grid {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: lightblue;
  opacity: 0.1s;

}

.card {
  margin: 5px;
  background-color: lightblue;
  opacity: 0s;
  height: 150px;
  width: 150px;
  background-repeat: round;
  position: relative;

}
.back {
  background-image: url('images/sereja-ris-974609-unsplash.jpg');
  background-size: cover;
  align-items: center;

}

.grid {
  border-radius: 10px;

}

.front,.back {
  height: 100%;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
